doctype 5
html
  head
    title Pizza Wars
    link(rel='stylesheet', href='/style/style.css')
    //!= assets.tag('/templates.js')
    script(src="/public/js/jade/runtime.js", type="text/javascript")
  body
    block header
      #header
    block content
    block footer
      #footer