doctype 5
html
    head
        title Pizza Wars
        link(rel='stylesheet', href='/style/style.css')
        script(src="/scripts/lib/require.js", type="text/javascript", data-main="/scripts/main")        
    body
        #wrapper
            #login-container
            #header.section.group
                h1
                    a(href='/') Pizza Wars

        
            div.section.group
                include side-menu
                #content.col.span_3_of_4                  
    
        