#shops
    table
        tr
            th Rank
            th Name
            th Date Ordered
            th Address
        if locals.shops
            each shop in shops
                tr 
                    td= shop.rank
                    td= shop.name
                    td= shop.dateOrdered
                    td= shop.address