html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
/* For IE 6/7 (trigger hasLayout) */
}
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}
@media only screen and (max-width: 480px) {
  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2 {
    width: 100%;
  }
}
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.1%;
}
.span_1_of_3 {
  width: 32.2%;
}
@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .span_1_of_3 {
    width: 100%;
  }
}
.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74.6%;
}
.span_2_of_4 {
  width: 49.2%;
}
.span_1_of_4 {
  width: 23.8%;
}
@media only screen and (max-width: 480px) {
  .span_4_of_4 {
    width: 100%;
  }
  .span_3_of_4 {
    width: 100%;
  }
  .span_2_of_4 {
    width: 100%;
  }
  .span_1_of_4 {
    width: 100%;
  }
}
.span_5_of_5 {
  width: 100%;
}
.span_4_of_5 {
  width: 79.68%;
}
.span_3_of_5 {
  width: 59.36%;
}
.span_2_of_5 {
  width: 39.04%;
}
.span_1_of_5 {
  width: 18.72%;
}
@media only screen and (max-width: 480px) {
  .span_5_of_5 {
    width: 100%;
  }
  .span_4_of_5 {
    width: 100%;
  }
  .span_3_of_5 {
    width: 100%;
  }
  .span_2_of_5 {
    width: 100%;
  }
  .span_1_of_5 {
    width: 100%;
  }
}
.span_6_of_6 {
  width: 100%;
}
.span_5_of_6 {
  width: 83.06%;
}
.span_4_of_6 {
  width: 66.13%;
}
.span_3_of_6 {
  width: 49.2%;
}
.span_2_of_6 {
  width: 32.26%;
}
.span_1_of_6 {
  width: 15.33%;
}
@media only screen and (max-width: 480px) {
  .span_6_of_6 {
    width: 100%;
  }
  .span_5_of_6 {
    width: 100%;
  }
  .span_4_of_6 {
    width: 100%;
  }
  .span_3_of_6 {
    width: 100%;
  }
  .span_2_of_6 {
    width: 100%;
  }
  .span_1_of_6 {
    width: 100%;
  }
}
.span_7_of_7 {
  width: 100%;
}
.span_6_of_7 {
  width: 85.48%;
}
.span_5_of_7 {
  width: 70.97%;
}
.span_4_of_7 {
  width: 56.45%;
}
.span_3_of_7 {
  width: 41.92%;
}
.span_2_of_7 {
  width: 27.42%;
}
.span_1_of_7 {
  width: 12.91%;
}
@media only screen and (max-width: 480px) {
  .span_7_of_7 {
    width: 100%;
  }
  .span_6_of_7 {
    width: 100%;
  }
  .span_5_of_7 {
    width: 100%;
  }
  .span_4_of_7 {
    width: 100%;
  }
  .span_3_of_7 {
    width: 100%;
  }
  .span_2_of_7 {
    width: 100%;
  }
  .span_1_of_7 {
    width: 100%;
  }
}
.span_8_of_8 {
  width: 100%;
}
.span_7_of_8 {
  width: 87.3%;
}
.span_6_of_8 {
  width: 74.6%;
}
.span_5_of_8 {
  width: 61.9%;
}
.span_4_of_8 {
  width: 49.2%;
}
.span_3_of_8 {
  width: 36.5%;
}
.span_2_of_8 {
  width: 23.8%;
}
.span_1_of_8 {
  width: 11.1%;
}
@media only screen and (max-width: 480px) {
  .span_8_of_8 {
    width: 100%;
  }
  .span_7_of_8 {
    width: 100%;
  }
  .span_6_of_8 {
    width: 100%;
  }
  .span_5_of_8 {
    width: 100%;
  }
  .span_4_of_8 {
    width: 100%;
  }
  .span_3_of_8 {
    width: 100%;
  }
  .span_2_of_8 {
    width: 100%;
  }
  .span_1_of_8 {
    width: 100%;
  }
}
.span_9_of_9 {
  width: 100%;
}
.span_8_of_9 {
  width: 88.71%;
}
.span_7_of_9 {
  width: 77.42%;
}
.span_6_of_9 {
  width: 66.13%;
}
.span_5_of_9 {
  width: 54.84%;
}
.span_4_of_9 {
  width: 43.55%;
}
.span_3_of_9 {
  width: 32.26%;
}
.span_2_of_9 {
  width: 20.97%;
}
.span_1_of_9 {
  width: 9.68%;
}
@media only screen and (max-width: 480px) {
  .span_9_of_9 {
    width: 100%;
  }
  .span_8_of_9 {
    width: 100%;
  }
  .span_7_of_9 {
    width: 100%;
  }
  .span_6_of_9 {
    width: 100%;
  }
  .span_5_of_9 {
    width: 100%;
  }
  .span_4_of_9 {
    width: 100%;
  }
  .span_3_of_9 {
    width: 100%;
  }
  .span_2_of_9 {
    width: 100%;
  }
  .span_1_of_9 {
    width: 100%;
  }
}
.span_10_of_10 {
  width: 100%;
}
.span_9_of_10 {
  width: 89.84%;
}
.span_8_of_10 {
  width: 79.68%;
}
.span_7_of_10 {
  width: 69.52%;
}
.span_6_of_10 {
  width: 59.36%;
}
.span_5_of_10 {
  width: 49.2%;
}
.span_4_of_10 {
  width: 39.04%;
}
.span_3_of_10 {
  width: 28.88%;
}
.span_2_of_10 {
  width: 18.72%;
}
.span_1_of_10 {
  width: 8.56%;
}
@media only screen and (max-width: 480px) {
  .span_10_of_10 {
    width: 100%;
  }
  .span_9_of_10 {
    width: 100%;
  }
  .span_8_of_10 {
    width: 100%;
  }
  .span_7_of_10 {
    width: 100%;
  }
  .span_6_of_10 {
    width: 100%;
  }
  .span_5_of_10 {
    width: 100%;
  }
  .span_4_of_10 {
    width: 100%;
  }
  .span_3_of_10 {
    width: 100%;
  }
  .span_2_of_10 {
    width: 100%;
  }
  .span_1_of_10 {
    width: 100%;
  }
}
.span_11_of_11 {
  width: 100%;
}
.span_10_of_11 {
  width: 90.7%;
}
.span_9_of_11 {
  width: 81.47%;
}
.span_8_of_11 {
  width: 72.24%;
}
.span_7_of_11 {
  width: 63.01%;
}
.span_6_of_11 {
  width: 53.78%;
}
.span_5_of_11 {
  width: 44.55%;
}
.span_4_of_11 {
  width: 35.32%;
}
.span_3_of_11 {
  width: 26.09%;
}
.span_2_of_11 {
  width: 16.86%;
}
.span_1_of_11 {
  width: 7.63%;
}
@media only screen and (max-width: 480px) {
  .span_11_of_11 {
    width: 100%;
  }
  .span_10_of_11 {
    width: 100%;
  }
  .span_9_of_11 {
    width: 100%;
  }
  .span_8_of_11 {
    width: 100%;
  }
  .span_7_of_11 {
    width: 100%;
  }
  .span_6_of_11 {
    width: 100%;
  }
  .span_5_of_11 {
    width: 100%;
  }
  .span_4_of_11 {
    width: 100%;
  }
  .span_3_of_11 {
    width: 100%;
  }
  .span_2_of_11 {
    width: 100%;
  }
  .span_1_of_11 {
    width: 100%;
  }
}
.span_12_of_12 {
  width: 100%;
}
.span_11_of_12 {
  width: 91.46%;
}
.span_10_of_12 {
  width: 83%;
}
.span_9_of_12 {
  width: 74.54%;
}
.span_8_of_12 {
  width: 66.08%;
}
.span_7_of_12 {
  width: 57.62%;
}
.span_6_of_12 {
  width: 49.16%;
}
.span_5_of_12 {
  width: 40.7%;
}
.span_4_of_12 {
  width: 32.24%;
}
.span_3_of_12 {
  width: 23.78%;
}
.span_2_of_12 {
  width: 15.32%;
}
.span_1_of_12 {
  width: 6.86%;
}
@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%;
  }
  .span_11_of_12 {
    width: 100%;
  }
  .span_10_of_12 {
    width: 100%;
  }
  .span_9_of_12 {
    width: 100%;
  }
  .span_8_of_12 {
    width: 100%;
  }
  .span_7_of_12 {
    width: 100%;
  }
  .span_6_of_12 {
    width: 100%;
  }
  .span_5_of_12 {
    width: 100%;
  }
  .span_4_of_12 {
    width: 100%;
  }
  .span_3_of_12 {
    width: 100%;
  }
  .span_2_of_12 {
    width: 100%;
  }
  .span_1_of_12 {
    width: 100%;
  }
}
@font-face {
  font-family: 'GoblinRegular';
  src: url("../fonts/goblin/GoblinOne-webfont.eot");
  src: url("../fonts/goblin/GoblinOne-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/goblin/GoblinOne-webfont.woff") format('woff'), url("../fonts/goblin/GoblinOne-webfont.ttf") format('truetype'), url("../fonts/goblin/GoblinOne-webfont.svg#GoblinRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
table.dataTable {
  margin: 0 auto;
  clear: both;
  width: 100%;
}
table.dataTable thead th {
  padding: 3px 18px 3px 10px;
  border-bottom: 1px solid #000;
  font-weight: bold;
  cursor: pointer;
  *cursor: hand;
}
table.dataTable tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid #000;
  font-weight: bold;
}
table.dataTable td {
  padding: 3px 10px;
}
table.dataTable td.center,
table.dataTable td.dataTables_empty {
  text-align: center;
}
table.dataTable tr.odd {
  background-color: #e2e4ff;
}
table.dataTable tr.even {
  background-color: #fff;
}
table.dataTable tr.odd td.sorting_1 {
  background-color: #d3d6ff;
}
table.dataTable tr.odd td.sorting_2 {
  background-color: #dadcff;
}
table.dataTable tr.odd td.sorting_3 {
  background-color: #e0e2ff;
}
table.dataTable tr.even td.sorting_1 {
  background-color: #eaebff;
}
table.dataTable tr.even td.sorting_2 {
  background-color: #f2f3ff;
}
table.dataTable tr.even td.sorting_3 {
  background-color: #f9f9ff;
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
}
.dataTables_length {
  float: left;
}
.dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_info {
  clear: both;
  float: left;
}
.dataTables_paginate {
  float: right;
  text-align: right;
}
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #111 !important;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
  text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
  outline: none;
}
.paginate_disabled_previous,
.paginate_disabled_next {
  color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
  padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px;
}
.paginate_enabled_previous {
  background: url("../images/back_enabled.png") no-repeat top left;
}
.paginate_enabled_previous:hover {
  background: url("../images/back_enabled_hover.png") no-repeat top left;
}
.paginate_disabled_previous {
  background: url("../images/back_disabled.png") no-repeat top left;
}
.paginate_enabled_next {
  background: url("../images/forward_enabled.png") no-repeat top right;
}
.paginate_enabled_next:hover {
  background: url("../images/forward_enabled_hover.png") no-repeat top right;
}
.paginate_disabled_next {
  background: url("../images/forward_disabled.png") no-repeat top right;
}
.paging_full_numbers {
  height: 22px;
  line-height: 22px;
}
.paging_full_numbers a:active {
  outline: none;
}
.paging_full_numbers a:hover {
  text-decoration: none;
}
.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
}
.paging_full_numbers a.paginate_button {
  background-color: #ddd;
}
.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important;
}
.paging_full_numbers a.paginate_active {
  background-color: #99b3ff;
}
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: #fff;
}
.sorting {
  background: url("../images/sort_both.png") no-repeat center right;
}
.sorting_asc {
  background: url("../images/sort_asc.png") no-repeat center right;
}
.sorting_desc {
  background: url("../images/sort_desc.png") no-repeat center right;
}
.sorting_asc_disabled {
  background: url("../images/sort_asc_disabled.png") no-repeat center right;
}
.sorting_desc_disabled {
  background: url("../images/sort_desc_disabled.png") no-repeat center right;
}
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}
.dataTables_scroll {
  clear: both;
}
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: #4d0a00;
  min-height: 100%;
}
#wrapper {
  width: 80%;
  margin: 0 auto;
  clear: both;
  position: relative;
}
#header {
  width: 100%;
  text-align: center;
}
#header h1 {
  color: #fff;
  font-family: GoblinRegular;
  font-size: 4em;
  margin-top: 0.2em;
}
