@font-face
    font-family 'GoblinRegular'
    src url('../fonts/goblin/GoblinOne-webfont.eot')
    src url('../fonts/goblin/GoblinOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/goblin/GoblinOne-webfont.woff') format('woff'),
         url('../fonts/goblin/GoblinOne-webfont.ttf') format('truetype'),
         url('../fonts/goblin/GoblinOne-webfont.svg#GoblinRegular') format('svg')
    font-weight normal
    font-style normal