@import '../lib/responsive-grid-system/all'
@import 'fonts'
@import 'datatables.styl'

body
    background-color #4D0A00
    min-height 100%

#wrapper 
    width 80%
    margin 0 auto
    clear both
    position relative
   
h1.main-title
    width 100%
    text-align center
    color #fff
    font-family GoblinRegular
    font-size 4em
    margin-top .2em


    
